<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/swaymun/steve/main/updates/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>CMgTCZxqsUonetEPPonEROD5HuVRv+Joo5uiM9rIEBU=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <true/>
    <key>SUVerifyUpdateBeforeExtraction</key>
    <true/>
    <key>SURequireSignedFeed</key>
    <true/>
    <key>SUEnableSystemProfiling</key>
    <false/>
</dict>
</plist>
